<div class="center">
    <a class="btn-floating btn-large waves-effect waves-light red">
        <i class="material-icons">location_on</i></a>
</div>
<div>
    <h5 class="center-align">Institute of Field Robotics</h5>
    <h5 class="center-align">King Mongkut’s University of Technology Thonburi</h5>
    <h5 class="center-align">Tel: +(66) 0-2470-9339, 0-2470-9691</h5>
    <h5 class="center-align">Fax: +(66) 0-2470-9703</h5>
    <h5 class="center-align">Email: information@fibo.kmutt.ac.th</h5>
    <h5 class="center-align">© Copyright - Institute of Field roBOtics</h5>
</div>